
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDatos</title>
</head>
<body>
    <div> 
        <p>Los Datos fueron guardados correctamente</p>
        <p>Gracias por tu comentario</p>
        <a href="#">Ver Comentarios</a>
    </div>
</body>
</html>
